@page
@model VentasNEXUS.Pages.Sales.IndexModel
<link rel="stylesheet" href="~/css/productos.css"><link rel="stylesheet" href="~/css/productos.css">
<h1>COMPRAR</h1>
<h2>Cliente:</h2>
<select  name="miSpinner">
    <option  value="">Seleccione Cliente:</option>
    @foreach (var item in Model.clientes)
    {
        <option value="@item.ID">@item.Name</option>
    }
</select>
<h3>Carrito de Compras</h3>

<h4>Productos Disponibles</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model.listaProductos)
        {
            <tr>
                <td>@producto.Name</td>
                <td>@producto.Price</td>
                <td>@producto.Description</td>
                <td>@producto.Stock</td>
                <td>
                    <form action="/Sales/Index" method="post">

                        <input type="hidden" name="id" value="@producto.ID">
                        <button id="btnAgregarAlCarrito">Agregar Producto</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Carrito de Compras</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model.Carrito)
        {
            <tr>
                <td>@producto.Name</td>
                <td>@producto.Price</td>
                <td>@producto.Description</td>
                <td>@producto.Stock</td>
            </tr>
        }
    </tbody>
</table>
<a class="nav-link text-dark" asp-area="" asp-page="/Sales/Create">COMPRAR</a>




@section scripts {

}
