@page
@model VentasNEXUS.Pages.Client.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Vincula el archivo cliente.css -->
<link rel="stylesheet" href="~/css/cliente.css">

<div class="container mt-5">
    <h1>Clientes</h1>

    <p>
        <a asp-page="Create" class="btn btn-primary">Crear Nuevo</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="custom-font">Nombre</th>
                <th class="custom-font">Apellido</th>
                <th class="custom-font">NIT</th>
                <th class="custom-font">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Client)
            {
                <tr>
                    <td class="custom-font">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="custom-font">@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td class="custom-font">@Html.DisplayFor(modelItem => item.Nit)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">Detalles</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
